<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-[0] bg-slate-900">
    <div class="w-[100%] h-[100%] flex justify-center items-center">
        <div class="w-[90%] h-[90%] flex">
            <div class="p-2 w-[30%] h-[100%] bg-slate-800" id="divCardAmigos">
                <div class="p-2 w-[100%] flex" id="cardSvg">
                    <div class="w-[50%] flex justify-start">
                        <svg onclick="adicionarUsuario()" xmlns="http://www.w3.org/2000/svg" class="bg-white rounded-full" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.5" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#1C274C"/>
                            <path d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z" fill="#1C274C"/>
                        </svg>
                    </div>
                    <div class="w-[50%] flex justify-end" id="arrow" onclick="diminuiAbaAmigos()">
                        <svg xmlns="http://www.w3.org/2000/svg" id="arrowSvg" width="30px" height="30px" viewBox="0 0 24 24" class="z-50 bg-white rounded-full" fill="none">
                            <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                <div class="mt-[12px]" id="amigos">

                </div>
            </div>
            <div class="w-[70%] h-[100%] bg-slate-600" id="cardMsgSend">
                <div class="h-[98%] m-[5px] rounded-lg bg-slate-400 relative">
                    <div class="p-2 h-[90%] bg-slate-400 rounded-t-lg overflow-auto" id="mensagens">
                    </div>
                    <div class="w-[100%] h-[10%] min-h-[50px] rounded-b-lg absolute bottom-0 bg-red-300 flex items-center">
                        <input type="text" id="mensagemTexto" class="p-[12px] w-[98%] h-[70%] rounded-full mx-[1%]">
                        <input type="button" onclick="enviarMsg()" class="m-[1%] px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm" value="enviar">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
    <script>
        const socket = io()
    </script>
    <script>
        let user;
        let mensagemAtual;
        $('body').css('height', `${window.innerHeight}px`);
        window.addEventListener('resize', function () {
            $('body').css('height', `${window.innerHeight}px`);
        });
        function diminuiAbaAmigos(){
            if($('#amigos').css('display') == 'block'){
                $('#divCardAmigos').addClass('w-[0px]');
                $('#divCardAmigos').removeClass('p-2');
                $('#amigos').addClass('hidden');
                $('#arrow').removeClass('justify-end');
                $('#arrowSvg').addClass('rotate-180');
                $('#cardSvg').addClass('flex-row-reverse min-w-[180px]');
                $('#cardMsgSend').addClass('w-[99.99%]');
                $('#mensagens').addClass('pt-10');
            }else{
                $('#divCardAmigos').removeClass('w-[0px]');
                $('#divCardAmigos').addClass('p-2');
                $('#amigos').removeClass('hidden');
                $('#arrow').addClass('justify-end');
                $('#arrowSvg').removeClass('rotate-180');
                $('#cardSvg').removeClass('flex-row-reverse min-w-[180px]');
                $('#cardMsgSend').removeClass('w-[99.99%]');
                $('#mensagens').removeClass('pt-10');
            }
        }
        function enviarMsg(){
            const mensagem = $('#mensagemTexto').val();
            socket.emit('NEWMSG', {to: mensagemAtual, from: user.nome, msg: mensagem});
            $('#mensagemTexto').val('');
            document.get
        };
        function adicionarUsuario(){
            const newUser = prompt('Qual Usuário deseja adicionar');
            socket.emit('NEWFRIEND', {to: newUser, from: user.nome});
        }
        async function visualizarMsg(amigo){
            $(`#${mensagemAtual}`).removeClass('bg-green-500');
            mensagemAtual = amigo;
            $(`#${mensagemAtual}`).addClass('bg-green-500');
            const { mensagens } = await $.ajax({
                url: `/mensagens/${user.nome}/${amigo}`,
                dataType: 'json',
                method: 'GET'
            });
            var mensagensDiv = '';
            for(const mensagem of mensagens){
                mensagensDiv += `
                <div class="mt-[12px] mb-[12px] w-[100%] flex ${user.nome == mensagem.from ? 'justify-end' : 'justify-start'}">
                    <h1 class="p-1 ${user.nome == mensagem.from ? 'bg-cyan-500' : 'bg-gray-500'}">${mensagem.msg}</h1>
                </div>`;
            }
            $('#mensagens').html(mensagensDiv);
        }
        socket.on('CALLBACK', (msg) => {
            if(msg.user != undefined){
                amigos(msg.user.amigos);
            }
            if(msg.msg == undefined) return;
            if(mensagemAtual == msg.from){
                $('#mensagens').append(
                `<div class="mt-[12px] mb-[12px] w-[100%] flex justify-start">
                    <h1 class="p-1 bg-gray-500">${msg.msg}</h1>
                </div>`);
            }
        });
        socket.on('RECEIVE', (user) => {
            if(user.status){
                amigos(user.amigos);
            }
            if(user.msg == undefined) return;
            $('#mensagens').append(
            `<div class="mt-[12px] mb-[12px] w-[100%] flex justify-end">
                <h1 class="p-1 bg-cyan-500">${user.msg}</h1>
            </div>`);
        })
        socket.on('LOGAR', (msg) => {
            if(user == undefined){
                const user = prompt('Qual seu usuário?');
                socket.emit('LOGADO', user);
            }
        });
        socket.on('LOGADOCALLBACK', (userSession) => {
            console.log(userSession)
            amigos(userSession.amigos)
            user = userSession;
        });
        function amigos(amigos){
            var amigosDiv = '';
            for(const amigo of amigos){
                amigosDiv += `<div id="${amigo}" class="cursor-pointer w-[100%] mb-[5px] p-2 rounded-lg bg-gray-500 flex justify-center" onclick="visualizarMsg('${amigo}')"><h1 class="text-white">${amigo}</h1></div>`
            }
            $('#amigos').html(amigosDiv);
            $(`#${mensagemAtual}`).addClass('bg-green-500');
        }
    </script>
</body>
</html>